.DS_Store
/.build
/.scratch
/.gen
/Examples/**/.build
/Examples/**/Package.resolved
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc